//
   Created by zhang on 15/6/14.
section.content-header
   h1
      | 打印机
      small 管理
   ol.breadcrumb
      li
         a(href='#')
            i.fa.fa-dashboard
            | 主页
      li.active 打印机管理
