//
   Created by zhang on 15/6/7.
footer.main-footer
   .pull-right.hidden-xs
      b Version
      | 0.0.1 alpha
   strong
      | Copyright © 2015-2016
      a(href='http://z4.com') Z4 compony
      | .
   | All rights reserved.

