//
   Created by zhang on 15/6/7.
// jQuery 2.1.4
script(src='../admintemp/AdminLTE-2.1.1/plugins/jQuery/jQuery-2.1.4.min.js')
// Bootstrap 3.3.2 JS
script(src='../admintemp/AdminLTE-2.1.1/bootstrap/js/bootstrap.min.js', type='text/javascript')
// Slimscroll
script(src='../admintemp/AdminLTE-2.1.1/plugins/slimScroll/jquery.slimscroll.min.js', type='text/javascript')
// FastClick
script(src='../admintemp/AdminLTE-2.1.1/plugins/fastclick/fastclick.min.js')
// AdminLTE App
script(src='../admintemp/AdminLTE-2.1.1/dist/js/app.min.js', type='text/javascript')
// AdminLTE for demo purposes
script(src='../admintemp/AdminLTE-2.1.1/dist/js/demo.js', type='text/javascript')
script(src='../javascripts/post.js' ,type='text/javascript')
script(src='../javascripts/admin.js' ,type='text/javascript')
script(src='../plugins/notify.min.js')
