body {
    font: normal 100% Helvetica, Arial, sans-serif;
    background-image:url(bg.png);
}

h6{
    color:#000101;
}

.container{
    height: 800px;
    width: 1280px;
}

.mainArea {
    margin-left: 38px;
    margin-top: 20px;
}

.mainMenu 
{
    padding-left: 0px;
    padding-right: 0px;
    width:661px;
}

.menuItem{
    height:116px;
    margin-bottom: 16px;
}

.menuItem > .col-xs-6{
    padding-left: 0px;
    padding-right: 0px;
}

.areaH{
    height: 272px;
}

.menuItem.areaH > .col-xs-4{
    /* padding-left: 0px; */
    padding-right: 0px;
    width: 220px;
    height: 272px;
}

.menuItem.areaH > .col-xs-4.left{
    margin-right: 3px;
}

.menuItem.areaH > .col-xs-4.right{
    margin-left: 3px;
}

.footbar {
    background:#2D2F2E;  
    height:99px;
}
.footBtn{
    margin-left: 16px;   
    margin-top: 7px;
    margin-right: 5px;
    width: 170px;
}

.footInput{
    width: 600px;
    padding-left: 0px;
    padding-right: 0px;
}

.footInput > textarea{
    font-size: 50px;
}

#callbtn{
    width: 135px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.clientInfoBox{
    width: 120px;
    
    margin-left: 0px;
    margin-right: 0px;

}

#clientInfo{
    color: white;
    font-size: 40px;
}

.sideMenu{
    
} 

.highlightBox{
    width: 332px;
    margin-bottom: 72px;
    height: 272px;
    margin-left: 50px;
}

.yidian{
    margin-bottom: 38px;
    
}

.service{
    margin-left: 40px;
    
}

#welcome{
    color:#FFFFFF; font-size: 50px;
}