doctype html
html
    head
        include module/head
    body.skin-blue.sidebar-mini.wysihtml5-supported
        .wrapper
            include module/header
            include module/main-sidebar
            .content-wrapper
            include module/main-footer
            include module/control-sidebar
        include module/script